<% include partials/header.ejs %>

<h1>Welcome to the Solary System Site!</h1>
<p>Mercury</p>
     <nav>
       <a href="/"> Home </a> 
       <a href="/mercury"> Mercury </a> 
       <a href="/venus">   Venus </a> 
       <a href="/earth">   Earth </a> 
       <a href="/jupiter"> Jupiter </a> 
    </nav>
<img src="/img/solar_system.jpg" alt="The Solar System" />
  <br>
    
  <p1>Mercury is the smallest and innermost planet in the Solar System. Its orbital period around the Sun of 87.97 days is the shortest of all the planets in the Solar System. 
      It is named after the Roman deity Mercury, the messenger of the gods. Like Venus, Mercury orbits the Sun within Earth's orbit as an inferior planet, and never exceeds 28° away from the Sun when viewed from Earth.</p1>
  

<% include partials/footer %>


