<% include partials/header.ejs %>

<h1>Welcome to the Solary System Site!</h1>
<p class ="large-text planet-name">Venus</p>
     <nav>
       <a href="/"> Home </a> 
       <a href="/mercury"> Mercury </a> 
       <a href="/venus">   Venus </a> 
       <a href="/earth">   Earth </a> 
       <a href="/jupiter"> Jupiter </a> 
    </nav>
<img src="/img/solar_system.jpg" alt="The Solar System" />
  <br>
   <p class = "medium-text"> Venus is the second planet from the Sun, orbiting it every 224.7 Earth days. It has the longest rotation period (243 Earth days) of any planet in the Solar System and rotates in the opposite direction to most other planets.It does not have any natural satellites. It is named after the Roman goddess of love and beauty. It is the second-brightest natural object in the night sky after the Moon.</p>
  
   

<% include partials/footer %>

 