body{
 background-color:rgb(103, 112, 128);
 color:#99c1ff;
 text-align: center;
}
p1{
  font-family: "Gill Sans", sans-serif;
  font-size: 2em;
  margin-bottom 0px;
  text-align:center;
  font-weight: bold;
}
h1{
  font-family: "Gill Sans", sans-serif;
  color: grey;
  font-size: 4em;
  margin-bottom 0px;
  text-align:center;
}
p{
  font-family: "Gill Sans", sans-serif;
  font-size: 3em;
  margin-bottom 0px;
  text-align:center;
  font-weight: bold;
  
}