body{
 background-color:rgb(103, 112, 128);
 color:#99c1ff;
 text-align: center;
 font-family: "Gill Sans", sans-serif; 
}
p{
  margin-bottom 0px;
  font-weight: bold;
}
h1{
  color:white;
  font-size: 4em;
  margin-bottom 0px;
}
.medium-text{
  font-size: 2em;
}
.large-text{
  font-size: 3em;
}
.planet-name{
  font-family: "Roboto Slab", serif;
}